<footer>
    <h3>nowly</h3>
    <p><%= footer_description %></p>
    <nav class="footer-nav">
      <a href="/<%= lang %>/about"><%= about %></a>
      <a href="/<%= lang %>/privacy"><%= privacy %></a>
      <a href="/<%= lang %>/contact"><%= contact %></a>
    </nav>
    <p class="footer-copyright">&copy; 2025 nowly</p>
  </footer>

  <script src="/main.js"></script>
</body>
</html>