<%- include('../partials/header', { i18n: i18n, lang: lang }); %>

  <main id="content">
    <h2><%= about_title %></h2>
    <p><%= about_p1 %></p>
    <p><%= about_p2 %></p>
  </main>

<%- include('../partials/footer'); %>