<%- include('../partials/header'); %>

  <main id="content">
    <h2><%= contact_title %></h2>
    <p><%= contact_p1 %></p>
    <p><%= contact_p2 %> <a href="mailto:contact@now-ly.com">contact@now-ly.com</a></p>
  </main>

<%- include('../partials/footer'); %>