<%- include('../partials/header', { i18n: i18n, lang: lang }); %>

  <main id="content">
    <h2><%= privacy_title %></h2>
    <p><%= privacy_p1 %></p>
    <h3><%= privacy_h3_1 %></h3>
    <p><%= privacy_p2 %></p>
    <h3><%= privacy_h3_2 %></h3>
    <p><%= privacy_p3 %></p>
    <h3><%= privacy_h3_3 %></h3>
    <p><%= privacy_p4 %></p>
  </main>

<%- include('../partials/footer'); %>